.logout_btn {
    padding: 7px;
    font-size: 16px;
    border: none;
    color: white;
    background-color: red;
    margin-left: 20px;
}

.logout_btn:hover {
    background-color: rgba(255, 0, 0, 0.6);
}

.start_btn {
    padding: 20px;
    font-size: 18px;
    border: none;
    color: white;
    background-color: #eb5757;
    border-radius: 15px;
    margin-right: 20px;
    text-align: center;
}

.stop_btn {
    padding: 20px;
    font-size: 18px;
    border: none;
    color: white;
    background-color: #3bb143;
    border-radius: 15px;
    text-align: center;
}

.action_btn {
    margin-top: 40px;
    margin-bottom: 50px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
}

.app_bar {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    height: 15%;
}

.tab_list {
    padding-left: 20px;
    display: flex;
    max-width: 75%;
}

.homepage__name {
    font-size: 20px;
    display: inline-block;
}

.homepage__info {
    display: flex;
    align-items: center;
    padding-right: 20px;
}

.tab__btn {
    margin-right: 20px;
}

.tab__btn:hover {
    cursor: pointer;
}

.active_tab {
    text-decoration: underline;
    text-underline-offset: 10px;
}

.sensor_control {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td {
    border: 1px solid #dddddd;
    text-align: center;
    min-width: 150px;
    height: 150px;
    font-size: 30px;
}

th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 10px;
    background-color: #acacac;
    font-size: 20px;
}

.table {
    margin-bottom: 20px;
}

.dot {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
}

.dot__on {
    background-color: green;
}

.dot__off {
    background-color: red;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

.header__sensor {
    font-size: 40px;
    margin-bottom: 10px;
}

.header__status {
    font-size: 20px;
}

.information {
    height: 80vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
